## Exclude all files by default
**/*
## Include all directories and Explicitly include relevant file-types
!**/
!.gitignore
## Project Root CommonData / Resources /
!*.tab
!*.sym
!*.kspice
!*.db
!*.iodb
!*.xml
## Applications and model files
!*.KspiceDefinitions
!*.mdl
!*.prm
!*.var
!*.trn
#!*.hst
!*.qs
!*.qz
!*.txt
!*.json
## Model graphics and Reference Files
!*.kRef
!*.xdr
#!*.rxdr
## Auxilary files
!*.mcl
## Exclude Log directories and Snapshot directories
**/Logging
**/Snapshots